* {
    box-sizing: border-box;
}

/**
 * Set up basic page defaults
 */
body {
  background: #fff;
  color: #000;
  font: 18px 'Zilla Slab', serif;
}

/**
 * Set up basic header defaults
 */
header {
  color: rgb(216, 0, 0);
  font-size: 72px;
  font-weight: 900;
  margin: 0 auto 20px auto;
  text-align: center;
  width: 500px;
}

/**
 * Set up basic section defaults
 */
section {
  margin: 0 auto;
  width: 500px;
}

/**
 * Set up basic team lineup defaults
 */
aside {
  background: rgba(213, 225, 223, 1);
  height: 500px;
  padding: 0 15px;
  width: 150px;
}

/**
 * Set up basic footer defaults
 */
footer {
  color: rgb(216, 0, 0);
  margin: 0 auto 20px auto;
  text-align: center;
  width: 500px;
}

button {
  background: rgba(216, 0, 0, 1);
  color: white;
  font: 18px 'Zilla Slab', serif;
  height: 40px;
  margin: 5px 10px;
  width: 160px;
}

button:hover {
  background: rgba(216, 0, 0, .8);
}

h2 {
  font-weight: 700;
}

img {
  display: inline-block;
}

input {
  font: 18px 'Zilla Slab', serif;
  margin-bottom: 15px;
  width: 100%;
}

input[type=submit] {
  background: rgba(255, 0, 0, 1);
  color: #fff;
  font-size: 24px;
  height: 50px;
}

input[type=submit]:hover {
  background: rgba(255, 0, 0, .8);
}

select {
  font-size: inherit;
}

ul {
  list-style: circle;
  margin: 0 -15px;
}

.formGroup {
  background: rgba(0, 0, 0, .1);  /* pale gray */
  display: inline-block;
  padding: 20px;
  width: 100%;
}

.modal {
  display: none;
  position: fixed; 
  z-index: 1; /* Sit on top of the gamefield */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,.4); /* Black w/ opacity */
}

.modalContent {
  background-color: #fefefe;
  margin: 230px auto; /* from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 600px; /* Could be more or less, depending on screen size */
}

.close,
.close2 {
  color: rgba(216, 0, 0, .8);
  float: right;
  font-size: 64px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.close:hover,
.close:focus {
  color: rgba(216, 0, 0, 1);
  text-decoration: none;
  cursor: pointer;
}

#container {
  margin: 20px auto;
  width: 960px;
}

#defense {
  /* left: 20px; */
  position: relative;
  text-align: center;
  top: 20px;
}

#offense {
  /* left: 20px;*/
  position: relative;
  text-align: center;
  top: 375px; 
}

#runner {
  position: relative;
  /* text-align: center; */
  top: 285px;
  left: 10px;
}

#runningRaccoon {
  background: #fff;
}

#gamefield {
  /* background: url('../images/Green-Fields.jpg') no-repeat; */
  /* background: url('../images/wallmanfire.jpg') no-repeat; */
  background: rgba(134, 179, 73, 1);  /* kind of olive-y green */
  float: left;
  height: 500px;
  width: 660px;
}

#lineup1 {
  float: left;
}

#lineup2 {
  float: right;
}

.smallButton {
  margin: 5px 0;
  width: 120px;
}

.playerShadow {
  background: rgba(134, 179, 73, 1) url('../images/raccoonBack.png') no-repeat;
  float: left;
  height: 50px;
  margin: 5px;
  width: 50px;
}





