* {
    box-sizing: border-box; /* account for border and padding in box width/height */
}

/**
 * Set up basic page defaults
 */
body {
  background: #fff; /* white */
  color: #000; /* black */
  font: 18px 'Zilla Slab', serif;
}

/**
 * Set up basic header defaults
 */
header {
  color: rgb(216, 0, 0);  /* reddish */
  font-size: 72px;
  font-weight: 900; /* very bold */
  margin: 0 auto 20px auto;
  text-align: center;
  width: 500px;
}

/**
 * Set up basic section defaults
 */
section {
  margin: 0 auto;
  width: 500px;
}

/**
 * Set up basic team lineup defaults
 */
aside {
  background: rgba(213, 225, 223, 1); /* bluey gray */
  height: 500px;
  padding: 0 15px;
  width: 150px;
}

/**
 * Set up basic footer defaults
 */
footer {
  color: rgb(216, 0, 0);  /* reddish */
  margin: 0 auto 20px auto;
  text-align: center;
  width: 500px;
}

button {
  background: rgba(216, 0, 0, 1); /* reddish */
  color: white;
  font: 18px 'Zilla Slab', serif;
  height: 40px;
  margin: 5px 10px;
  width: 160px;
}

button:hover {
  background: rgba(216, 0, 0, .8); /* reddish, but less opaque */
}

h2 {
  font-weight: 700;
}

input {
  font: 18px 'Zilla Slab', serif;
  margin-bottom: 15px;
  width: 100%;
}

input[type=submit] {
  background: rgba(216, 0, 0, 1);
  color: #fff;
  font-size: 24px;
  height: 50px;
}

input[type=submit]:hover {
  background: rgba(216, 0, 0, .8);
}

select {
  font-size: inherit;
}

ul {
  list-style: circle;
  margin: 0 -15px;
}

.formGroup {
  background: rgba(0, 0, 0, .1);  /* pale gray */
  display: inline-block;
  padding: 20px;
  width: 100%;
}

.modal {
  display: none;
  position: fixed; 
  z-index: 1; /* Sit on top of the gamefield */
  left: 0;
  top: 0;
  width: 100%; /* cover full screen */
  height: 100%; /* cover full screen */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, .4); /* Black with less opacity */
}

.modalContent {
  background-color: #fff; /* white */
  margin: 230px auto; /* from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 600px; /* cover most of the gamefield */
}

.modalContent2 {
  background-color: #fff; /* white */
  margin: 140px auto; /* from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 600px; /* cover mot of the game field */
  height: 550px; /* make sure we cover the game field vertically */
}

.close,
.close2 {
  color: rgba(216, 0, 0, .8); /* reddish, with a little less opacity */
  float: right;
  font-size: 64px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.close:hover,
.close:focus {
  color: rgba(216, 0, 0, 1); /* reddish, opaque */
  text-decoration: none;
  cursor: pointer;
}

/* entire screen */
#container {
  margin: 20px auto;
  width: 960px;
}

/* box sits along top edge of game field */
#defense {
  position: relative;
  text-align: center;
  top: 20px;
}

/* box sits along bottom edge of game field */
#offense {
  position: relative;
  text-align: center;
  top: 375px; 
}

/* box containing the #offense and #defense boxes; represents the entire game field */
#gamefield {
  background: rgba(134, 179, 73, 1) url('../images/checkerboard-tile-pattern.jpg'); 
  float: left;
  height: 500px;
  width: 660px;
}

/* box containing list of current team 1 members; sits to left of gamefield */
#lineup1 {
  float: left;
}

/* box containing list of current team 2 members; sits to right of gamefield */
#lineup2 {
  float: right;
}

#pickPlayer {
  display: none;
}





