* {
    box-sizing: border-box;
}

/**
 * Set up basic page defaults
 */
body {
  background: #fff;
  color: #000;
  font: 18px 'Zilla Slab', serif;
}

/**
 * Set up basic header defaults
 */
header {
  color: red;
  font-size: 72px;
  font-weight: 900;
  margin: 0 auto 20px auto;
  text-align: center;
  width: 500px;
}

/**
 * Set up basic section defaults
 */
section {
  margin: 0 auto;
  width: 500px;
}

/**
 * Set up basic team lineup defaults
 */
aside {
  background: #0f0;
}

/**
 * Set up basic footer defaults
 */
footer {
  width: 500px;
}

h2 {
  font-weight: 700;
}

input {
  font: 18px 'Zilla Slab', serif;
  margin-bottom: 15px;
  width: 100%;
}

input[type=submit] {
  background: rgba(255, 0, 0, 1);
  color: #fff;
  font-size: 24px;
  height: 50px;
}

input[type=submit]:hover {
  background: rgba(255, 0, 0, .8);
}

.formGroup {
  background: rgba(0, 0, 0, .1);
  display: inline-block;
  padding: 20px;
  width: 100%;
}

#container {
  margin: 20px auto;
  width: 960px;
}

#gamefield {
  /* background: url('../images/Green-Fields.jpg') no-repeat; */
  /* background: url('../images/wallmanfire.jpg') no-repeat; */
  float: left;
  width: 660px;
}

#lineup1 {
  float: left;
  width: 150px;
}

#lineup2 {
  float: right;
  width: 150px;
}


